:root {
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
    --text-hover: #FF8B13;
    --font-size: 12px;
}

@font-face {
    font-family: "kumbhsan-400";
    src: url(./static/KumbhSans-Regular.ttf);
}

body {
    font-family: "kumbhsan-400", sans-serif;
    font-size: var(--font-size);
    background: linear-gradient(var(--soft-violet), var(--soft-blue), var(--soft-violet));

}
.container{
    width: 100%;
    /* height: 100%; */
    margin: 12em auto 3em;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 10px 100px 0 #292929;
}

.content-container{
    width: 80%;
    margin: 0 auto 5em;
}
.bg-pattern-img{
    width: 100%;
    height: 10em;
    background: url(./images/bg-pattern-mobile.svg) no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.bg-pattern-img::after{
    width: 100%;
    height: 15em;
    content: "";
    background: url(./images/illustration-woman-online-mobile.svg) no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-60%);
    position: absolute;
}
h1{
    font-family: "kumbhsan-700", sans-serif;
    src: url(./static/KumbhSans-SemiBold.ttf);
    text-align: center;
    font-size: 2rem;
    color: var(--very-dark-grayish-blue);
    text-shadow: 0 0 1px var(--very-dark-grayish-blue);
}

h3{
    color: var(--dark-grayish-blue);
    transition: all .5s ease-out;
}

.accordion-content h3:hover{
    color: var(--text-hover);
    scale: 1.1;
}

p{
    width: 80%;
    font-size: 0.8rem;
    color: var(--dark-grayish-blue);
}

section{
    border-bottom: 1px solid var(--light-grayish-blue);
}
.accordion-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content .accordion-question:hover{
    cursor: pointer;
    color: var(--text-hover);
}

.accordion-answer{
    margin-top: -1em;
    display: none;
}
.accordion-content .accordion-ic{
    cursor: pointer;
    transform: rotate(0);
    transition: all .75s ease-out;
}

.accordion-content .accordion-ic:hover{
    transform: rotate(45deg);
    transition: all .5s ease-out;
    color: var(--text-hover);
}
.active .accordion-ic{
    transform: rotate(180deg);
    transition: all .75s ease-out;
}
.active .accordion-ic:hover{
    transform: rotate(135deg);
    transition: all .75s ease-out;
}

.active .accordion-question:hover{
    cursor: pointer;
}
.active .accordion-answer{
    display: flex;
}

.active h3{
    text-shadow: 0 0 1px var(--very-dark-grayish-blue);
    transition: all .5s ease-out;
}
.active h3:hover{
    color: var(--text-hover);
    scale: 1.1;
}

@media only screen and (min-width: 880px){
    .container{
        margin: 15em auto;
        font-size: .7rem;
        width: 60%;
        height: 50%;
        flex-direction: unset;
        justify-content: flex-start;
    }
    .bg-pattern-img{
        width: 100%;
        height: 40em;
        background: url(./images/bg-pattern-desktop.svg) no-repeat;
        background-position:center;
        background-size: contain;
        transform: translate(-50%, 5%);
        position: relative;
    }
    .bg-pattern-img::before{
        width: 100%;
        height: 20em;
        content: "";
        background: url(./images/illustration-woman-online-desktop.svg) no-repeat;
        background-position: center;
        background-size: contain;
        transform: translate(20%, 50%);
        position: absolute;
    }
    .bg-pattern-img::after{
        width: 100%;
        height: 15em;
        content: "";
        background: url(./images/illustration-box-desktop.svg) no-repeat;
        background-position: center;
        background-size: contain;
        transform: translateY(95%);
        position: absolute;
    }
    h1{
        text-align: start;
    }
    section{
        margin: 1em 5em 1em 0;
    }
    .content-container{
        width: 100%;
        margin-top: 5em;
    }
}
=======
        transform: translateY(-60%);
        position: absolute;
    }
}
>>>>>>> 93467cee74360010009dd01a90b598c8ec3f3f2c
