:root {
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
    --text-hover: #FF8B13;
    --font-size: 12px;
    /* --weights-400: 400;
    --weights-700: 700; */
}

@font-face {
    font-family: "kumbhsan-400";
    src: url(./static/KumbhSans-Regular.ttf);
}

body {
    font-family: "kumbhsan-400", sans-serif;
    font-size: var(--font-size);
    /* font-weight: var(--weights-400); */
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
}

@media only screen {

    .container {
        width: 90%;
        height: 100%;
        margin: 12em auto 2em;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 25px;
        z-index: 1;
        /* position: relative; */
    }

    .bg-pattern-img {
        width: 70%;
        height: 20em;
        /* margin: 0 auto; */
        background: url(./images/bg-pattern-mobile.svg) no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        position: absolute;
        z-index: 2;
    }

    .container::after {
        content: "";
        width: 70%;
        height: 20em;
        /* margin: 0 auto; */
        top: 50%;
        left: 50%;
        background: url(./images/illustration-woman-online-mobile.svg) no-repeat;
        transform: translate(-50%, -130%);
        position: absolute;
        z-index: 2;
    }

    .content-container {
        width: 85%;
        margin: 10em auto 3em;
    }

    .content-container>section {
        border-bottom: 1px solid var(--light-grayish-blue);
        font-family: sans-serif;
        font-size: 0.7rem;
        src: url(./static/KumbhSans-Medium.ttf);
        color: var(--dark-grayish-blue);
    }

    .accordion-question{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .accordion-question:hover{
        color: var(--text-hover);
    }
    h1 {
        font-family: sans-serif;
        src: url(./static/KumbhSans-Medium.ttf);
        font-size: 2rem;
        color: var(--very-dark-grayish-blue);
        text-shadow: 0 0 1px var(--very-dark-grayish-blue);
        text-align: center;
    }
    p {
        margin-top: -0.5em;
    }
    .accordion-answer{
        display: none;
        transition: all .3s linear;
    }
    .active .accordion-answer{
        display:block;
        transition: all .3s linear;
    }
    .active .accordion-question{
        color: #000;
    }
    .active .accordion-question:hover{
        color: var(--text-hover);
    }
    .accordion-ic{
        transform: rotate(0);
        transition: all .3s linear;
    }
    .active .accordion-ic{
        transform: rotate(180deg);
        transition: all .3s linear;
    }
}